@import "_veriables.scss";

@media (max-width: 1320px) {
  body {
    .main {
      .rating {
        &__cards {
          gap: 10px 0px;
        }
      }

      .categories {
        &__card:nth-child(1) {
          order: -2;
        }
        &__card:nth-child(2) {
          max-width: 295px;
        }
        &__card:nth-child(3) {
          max-width: 295px;
          order: -1;
        }
        &__card:nth-child(4) {
          max-width: 295px;
        }
        &__card:nth-child(5) {
          max-width: 295px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  body {
    .container {
      max-width: 991px;
      padding: 0px 20px;
    }

    .section-title {
      font-size: 31px;
    }

    .header {
      .top {
        position: relative;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-bottom: 50px;
        background-color: $color_white;
        &__list {
          position: absolute;
          top: 59px;
          left: 0;
          padding: 18px 36px;
          width: 100%;
          background-color: $color_dark-white;
        }
        &__phone {
          margin: 0;
        }
        &__container {
          .top__phone {
            margin-left: auto;
          }
        }
      }
      .bottom {
        &__item {
          &:not(:last-child) {
            margin-right: 37px;
          }
        }
        &__panel {
          .choices {
            max-height: 57px;
            border-radius: 0px 10px 10px 0px;
          }
        }
        .panel__icons {
          position: absolute;
          top: 70px;
          right: 36px;
        }
      }
    }

    .main {
      .hero {
        &__title {
          font-size: 50px;
        }
        .swiper {
          .swiper-slide {
            &:nth-child(1) {
              background-image: url(../../images/hero_bg1-1024.jpg);
            }
            &:nth-child(2) {
              background-image: url(../../images/hero_bg2-1024.jpg);
            }
            &:nth-child(3) {
              background-image: url(../../images/hero_bg3-1024.jpg);
            }
            .container {
              max-width: 951px;
            }
          }
          .swiper-horizontal > .swiper-pagination-bullets,
          .swiper-pagination-bullets.swiper-pagination-horizontal,
          .swiper-pagination-custom,
          .swiper-pagination-fraction {
            bottom: 19px;
            left: 0;
            width: 100%;
            .swiper-pagination-bullet:not(:last-child) {
              margin-right: 13px;
            }
          }
        }
      }
      .offer {
        .card {
          max-width: 24.5%;
          &__detail {
            display: none;
          }
        }
      }
      .collection {
        background-image: url(../../images/collection1024.jpg);
      }
      .rating {
        &__cards {
          gap: 32px 0px;
        }
        &__btn {
          padding: 23px 39.5px;
        }
        .mdcard {
          display: none;
        }
      }

      .useful {
        .swiper {
          &-slide {
            max-width: 295px;
          }
          .card__text {
            padding: 30px;
          }
          .card__descr {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .feedback {
        &__right {
          max-width: 405px;
        }
        &__bg {
          top: 76px;
        }
      }
    }
    .footer {
      &__container {
        padding: 24px 20px;
      }
      &__list:not(:last-child) {
        margin-right: 87px;
      }
    }
  }
}

@media (max-width: 992px) {
  body {
    .container {
      padding: 0px 20px;
      max-width: 664px;
    }

    .section {
      margin-bottom: 69px;
    }

    .header {
      .top {
        &__list {
          justify-content: center;
        }
        &__item {
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
      .bottom {
        position: relative;
        &__logo-link {
          margin: auto;
        }
        &__wrapper {
          .bottom__wrapper-svg {
            display: block;
          }
        }
        .burger {
          display: block;
          margin-right: -25px;
        }
        &__list-exit {
          display: block;
          position: absolute;
          top: 34px;
          width: 24px;
          height: 24px;
          opacity: 0;
          z-index: -3;
          outline: none;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          &:focus-visible {
            background-color: $color_pink-light;
            path {
              fill: $color_purple-shade;
            }
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0);
            path {
              fill: $color_purple;
            }
          }
          &:active {
            background-color: none;
            path {
              fill: $color_purple-shade;
            }
          }
          path {
            fill: $color_purple;
          }
        }
        &__wrapper {
          position: absolute;
          top: 0;
          left: 0;
          padding: 92px 0px 60px;
          width: 100%;
          max-height: 308px;
          background-color: $color_white;
          opacity: 0;
          z-index: -3;
          transition: 0.3s ease-in-out;
          svg {
            position: absolute;
            right: 72px;
            bottom: 60px;
            width: 100%;
            height: 100%;
            max-width: 161px;
            max-height: 112px;
            path {
              opacity: 0.2;
              fill: $color_grey-shade;
            }
          }
          .wrapper__container {
            margin: 0 auto;
            width: 100%;
            max-width: 624px;
          }
          .bottom__list {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 288px;
            max-height: 158px;
          }

          .bottom__item {
            margin: 0;
            margin-right: 10px;
            margin-bottom: 30px;
            width: 100%;
            max-width: 152px;
          }
        }
        .bottom__panel {
          position: relative;
          .choices__list--dropdown {
            .choices__list {
              display: flex;
              flex-wrap: nowrap;
              flex-direction: column;
              max-height: 100%;
            }
          }
        }

        .burger--active {
          opacity: 1;
          z-index: 5;
        }
        .burger-exit--active {
          opacity: 1;
          z-index: 6;
        }
        .panel__icons {
          top: -60px;
          right: 0px;
        }
        &__panel {
          .choices {
            max-width: 189px;
          }
        }
      }
    }

    .main {
      .hero {
        .swiper {
          .swiper-slide {
            &:nth-child(1) {
              background-image: url(../../images/hero1-768.jpg);
            }
            &:nth-child(2) {
              background-image: url(../../images/hero2-768.jpg);
            }
            &:nth-child(3) {
              background-image: url(../../images/hero3-768.jpg);
            }
            .container {
              max-width: 624px;
              .btn {
                padding: 22px 52px;
              }
            }
          }
        }
      }

      .offer {
        .card {
          max-width: 37.5%;
        }

      }

      .collection {
        .container {
          max-width: 737px;
        }
      }

      .categories {
        .categories__cards {
          .card__img {
            max-height: 312px;
          }
        }
        .categories__card:nth-child(4) {
          order: 1;
          .card__img {
            max-width: 265px;
          }
        }
        .categories__card:last-child {
          order: 2;
        }
      }

      .useful {
        margin-bottom: 64px;
      }

      .feedback {
        &__bg {
          top: 12px;
          max-width: 187px;
        }
      }
    }

    .footer {
      &__container {
        flex-direction: column;
      }
      &__icons {
        display: flex;
        justify-content: space-between;
        padding: 24px 0px;
      }
      &__logo-link {
        max-height: 27px;
      }
      &__menu {
        margin-bottom: 24px;
      }
      &__list {
        &:not(:last-child) {
          margin-right: 39px;
        }
      }
    }

    .form__popup {
      .popup {
        max-width: 400px;
        max-height: 320px;
      }
    }
  }
}

@media (max-width: 668px) {
  body {
    .container {
      padding: 0 20px;
      max-width: 500px;
    }

    .section-title {
      font-size: 23px;
      line-height: 100%;
    }

    .header {
      margin-bottom: 32px;
      .top {
        margin: 0;
        padding-top: 68px;
        .top__phone {
          margin: 0;
          margin-right: auto;
        }
        &__list-wrapper {
          position: absolute;
          bottom: -492px;
          left: 0;
        }
        &__list {
          display: flex;
          position: relative;
          flex-wrap: wrap;
          justify-content: space-between;
          z-index: 20;
          padding: 24px 12px;
          width: 100%;
          opacity: 0;
          z-index: -3;
          transition: 0.3s ease-in-out;
        }
        &__list--active {
          opacity: 1;
          z-index: 6;
        }
        &__item {
          max-width: 140px;
          margin-bottom: 12px;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
        &__wrapper {
          margin-bottom: 16px;
          width: 100%;
        }
        &__container {
          position: relative;
          align-items: flex-start;
          flex-direction: column;
        }
      }
      .bottom {
        &__container {
          position: static;
        }
        .bottom__wrapper-svg {
          display: none;
        }
        &__menu {
          margin-bottom: 16px;
          padding: 12px 0;
          border-top: 1px solid $color_dark-white;
          border-bottom: 1px solid $color_dark-white;
        }
        &__logo-link {
          position: absolute;
          top: -144px;
          left: 0;
          margin: 0;
          padding: 12px 0px 11px;
          width: 100%;
          height: 100%;
          max-height: 50px;
          background-color: $color_dark-white;
          svg {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0px);
          }
        }
        .panel__icons {
          top: -56px;
          right: 3px;
        }
        .panel {
          position: relative;
          padding-bottom: 76px;
          &__search {
            .panel__input {
              input {
                border-radius: 10px;
              }
            }
          }
          .choices {
            position: absolute;
            bottom: 0;
            left: 0;
            max-width: 100%;
            border-radius: 10px;
          }
        }

        &__list-exit {
          top: 12px;
        }
        &__wrapper {
          padding: 62px 0px 132px 12px;
          max-height: 533px;
          svg {
            display: none;
          }
          .wrapper__container {
            margin: 0 auto;
            width: 100%;
            max-width: 475px;
          }
          .bottom__list {
            align-items: flex-start;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
          }

          .bottom__item {
            margin-bottom: 41px;
          }
        }
      }
    }

    .main {
      .hero {
        &__swiper {
          padding-bottom: 5px;
        }
        .swiper {
          .swiper-slide {
            padding: 30px 0px 30px;
            margin-bottom: 88px;
            min-height: 149px;
            .container {
              max-width: 260px;
            }
          }
          .swiper-horizontal > .swiper-pagination-bullets,
          .swiper-pagination-bullets.swiper-pagination-horizontal,
          .swiper-pagination-custom,
          .swiper-pagination-fraction {
            top: 61%;
            left: 0;
            width: 100%;
            max-height: 20px;
            .swiper-pagination-bullet:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
        .swiper-pagination {
          .swiper-pagination-bullet {
            margin: 0;
            width: 6px;
            height: 6px;
          }
        }

        &__title {
          margin: 0;
          max-width: 204px;
          font-size: 21px;
          line-height: 27px;
        }

        &__btn {
          position: absolute;
          top: 115%;
          left: 12px;
          width: 100%;
          max-width: 196px;
        }
      }

      .offer {
        &__container {
          padding-bottom: 49px;
        }
        .section {
          margin: 0;
        }
        .swiper {
          max-width: 389px;
        }
        .card {
          max-width: 80%;
        }
        &__navigation {
          top: 100%;
          left: 57%;
          transform: translate(-52%, -100%);
        }
      }

      .rating {
        &__cards {
          gap: 17px 32px;
          justify-content: center;
        }
        .card {
          padding: 70px 16px 9px;
          max-width: 200px;
          max-height: 278px;
          min-height: 0;
          &__img {
            margin: 0;
            margin-bottom: 16px;
          }
          &__title {
            margin: 0;
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 130%;
          }
          &__star {
            top: 16px;
            left: 16px;
            width: 36px;
            height: 16px;
            font-size: 12px;
            line-height: 130%;
          }
          &__price {
            margin-bottom: 17px;
          }
          &__btn {
            margin-bottom: 6px;
            padding: 10px 22px;
          }
        }
        .card:nth-child(1) {
          padding-top: 52px;
          .card__img {
            margin-bottom: 20px;
          }
        }
        .card:nth-child(2) {
          padding-top: 47px;
        }
        &__btn {
          margin-top: 31px;
          padding: 22px 38.5px;
        }
      }

      .collection {
        .container {
          position: relative;
          max-width: 500px;
        }
        position: relative;
        margin-bottom: 163px;
        padding-top: 32px;
        padding-bottom: 62.4px;
        background-image: url(../../images/collection320.jpg);
        &__title {
          max-width: 187px;
          font-size: 15px;
          line-height: 19px;
        }
        .gold {
          font-size: 24px;
          line-height: 28.8px;
        }
        &__btn {
          position: absolute;
          top: 214px;
          left: 4%;
          width: 100%;
          max-width: 296px;
        }
      }

      .categories {
        margin-bottom: 80px;
        &__cards {
          gap: 18px 12px;
        }
        .card {
          padding-bottom: 0px;
          &:first-child {
            margin-bottom: 17px;
            .card__img {
              img {
                width: 100%;
                max-width: 296px;
                height: 100%;
                max-height: 176px;
              }
            }
          }
          &:not(:first-child) {
            padding: 16px;
            max-width: 200px;
            .card__title {
              align-items: flex-end;
              margin-bottom: 20px;
              font-size: 16px;
              line-height: 16.64px;
              span{
                max-width: 80px;
              }
            }
            .card__img {
              margin: 0;
              margin-left: -16px;
              max-width: 157px;
            }
            .card__list {
              flex-direction: column;
            }
            .card__item {
              font-size: 10px;
              line-height: 100%;
              &:not(:last-child) {
                margin: 0;
                margin-bottom: 4px;
              }
            }
          }
          &__item:not(:last-child) {
            margin-right: 20px;
          }
          &__btn {
            display: none;
          }
          &__title {
            display: flex;
            align-items: center;
          }
          &__title-arrow {
            display: block;
            margin-left: 5px;
            width: 22px;
            height: 22px;
          }
        }
      }

      .useful {
        position: relative;
        padding-bottom: 52px;
        .swiper-slide {
          max-width: 500px;
        }
        &__navigation {
          position: absolute;
          top: 102.5%;
          left: 38%;
        }
      }

      .feedback {
        &__bg {
          display: none;
        }
        .label {
          &__descr {
            font-size: 12px;
            line-height: 16px;
          }
          &__link {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }

    .footer {
      &__icons {
        flex-direction: column;
        align-items: center;
      }
      &__logo-link {
        margin-bottom: 23px;
      }
      &__menu {
        flex-wrap: wrap;
      }
      &__list {
        width: 100%;
        max-width: 140px;
        &:not(:last-child) {
          margin: 0;
        }
        &:not(:nth-last-child(1), :nth-last-child(2)) {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  body {
    .main {
      .rating {
        .card {
          max-width: 140px;
        }
      }

      .categories {
        &__cards {
          justify-content: center;
          gap: 20px 32px;
        }
        .card {
          &:not(:first-child) {
            max-width: 140px;
          }
        }
      }
    }
  }
}

@media (max-width: 355px) {
  body {
    .container {
      padding: 0 14px;
    }

    .main {
      .rating {
        &__cards {
          gap: 17px 0;
          justify-content: space-between;
        }
      }
      .categories {
        &__cards {
          justify-content: space-between;
          gap: 22px 12px;
        }
      }
      .feedback {
        &__descr {
          margin-bottom: 20px;
        }
      }
    }

    .form__popup {
      .popup {
        max-width: 296px;
        max-height: 216px;
        .popup__el {
          max-width: 73px;
          max-height: 50px;
        }
        .popup__exit {
          width: 12px;
          height: 12px;
        }
      }
      .popup__title {
        margin: 0;
        max-width: 194px;
        text-align: center;
      }
    }
  }
}
